nav {
  width:100%;
  display:block;
  padding: 0px 80px;
  overflow: hidden;
  background-color: #808080;
  margin:0px;
  font-size: 24px;
  /*  width: 100%;
  height: 50px;
  display: block;
  float:left;
  top: 0%;
  left:0;
  background-color: #808080;
  position: 200px;
  padding: 20px;
  */

}
nav a {
  display: block;
  float:left;
  color: white;
  text-align: center;
  padding: 35px 8px 0px 20px;
  /*
  display: block;
  float:left;
  color: white;
  font-family:monospace;
  padding: 8px;
  /*padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;*/
  text-decoration: none;

}
.log{
  float:left;
  padding:0px 0px;
  display: block;
  border-radius: 0px;
  border-width: 0px;
  margin:0px;
  max-width: 100%;
}
nav a:hover{
  background-color: #8FBC8F;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

header {
  color: white;
  font-size: 24px;
}

body{
  margin:75px;/*height:2000px;*/
  padding:0px;
  margin:0px;
  background-color: #8FBC8F;
  color: white;
  font-family:monospace;
}
.homepage {
  color: white;
}
h1{
  text-align: center;
}
a{
  color: white;
}

img {
  margin: 60px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
  max-width: 100%;

}


.facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
  padding:8px 10px;
  margin:5px;
}

.twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
  padding:8px 10px;
  margin:5px;
}

.pinterest {
  background: #cb2027;
  color: white;
  border-radius: 50%;
  padding:8px 10px;
  margin:5px;

}

.index_page p{
  color:white;
  margin-left: 75px;
}
/*size of the map*/
#mapid { height: 400px;
  width:600px; margin:75px;}
  /* remove white grid lines*/
  .leaflet-tile { border: 0px; }

  /* remove border around marker icons*/
  .leaflet-marker-icon{border:0px;}

  .rest_info p{
    text-align: left;
    font-size: 16px;
    margin:75px;
    color: white;
  }
  .rest_info h3{
    margin: 75px;
    color: grey;
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
  }

  h2{
    margin: 75px;
    font-size:24px;
  }
.rest_header header{
  margin: 75px;
  font-size: 30px;
  font-weight: bold;
}
.rest_header p{
  margin:75px;
  color: white;
  font-size: 16px;
}
.contact-us {
  text-align: center;
}
.inputname input {
    max-width: 100%;
    padding: 10px 30px;
  }
.inputemail input {
  max-width: 100%;
  padding: 10px 30px;
}
.formtextarea textarea {
  max-width: 100%;
  padding: 10px 50px;
}
article {
  max-width: 100%;
}
.sansnav img {
  border-radius: 20px;
  max-width: 100%;
}
.sansnav {
  margin: 0px auto;
  padding: 30px;
}
.formsubmit input {
    padding: 10px 50px;
    margin-top: 20px;
    font-weight: bold;
    height: 44px;
}
@media (max-width: 500px) {
  body {
    background-color: red;
  }
  h1 {
        font-size: 36px;
      }
}
